@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* LOADING ANIMATION */
.svg-container {
	width: 80%;
	max-width: 100vh;
	margin: 0 auto;
}

.clouds {
	display: block;
	-webkit-animation: verticalScroll 3s infinite ease-in;
	-moz-animation: verticalScroll 3s infinite ease-in;
	animation: verticalScroll 3s infinite ease-in;
}

#rocket {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: takeOff 3s infinite ease-in;
	animation: takeOff 3s infinite ease-in;
}

.flame-outer {
	-webkit-animation: outerFlame 0.5s infinite linear;
	-moz-animation: outerFlame 0.5s infinite linear;
	animation: outerFlame 0.5s infinite linear;
}

.flame-inner {
	-webkit-animation: innerFlame 0.5s infinite linear;
	-moz-animation: innerFlame 0.5s infinite linear;
	-ms-animation: innerFlame 0.5s infinite linear;
	animation: innerFlame 0.5s infinite linear;
}
@-webkit-keyframes verticalScroll {
	0% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(500px);
	}
}
@-moz-keyframes verticalScroll {
	0% {
		-moz-transform: translateY(0);
	}
	100% {
		-moz-transform: translateY(500px);
	}
}
@keyframes verticalScroll {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(500px);
	}
}

@-webkit-keyframes takeOff {
	0% {
		-webkit-transform: scale(1) translateY(0);
	}
	100% {
		-webkit-transform: scale(0) translateY(-500px);
	}
}
@-moz-keyframes takeOff {
	0% {
		-moz-transform: scale(1) translateY(0);
	}
	100% {
		-moz-transform: scale(0) translateY(-500px);
	}
}
@keyframes takeOff {
	0% {
		transform: scale(1) translateY(0);
	}
	100% {
		transform: scale(0) translateY(-500px);
	}
}

@-webkit-keyframes outerFlame {
	0% {
		fill: red;
	}
	33% {
		fill: orange;
	}
	66% {
		fill: yellow;
	}
	75% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}
@-moz-keyframes outerFlame {
	0% {
		fill: red;
	}
	33% {
		fill: orange;
	}
	66% {
		fill: yellow;
	}
	75% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}
@keyframes outerFlame {
	0% {
		fill: red;
	}
	33% {
		fill: orange;
	}
	66% {
		fill: yellow;
	}
	75% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}

@-webkit-keyframes innerFlame {
	0% {
		fill: orange;
	}
	33% {
		fill: yellow;
	}
	66% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}

@-moz-keyframes innerFlame {
	0% {
		fill: orange;
	}
	33% {
		fill: yellow;
	}
	66% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}

@keyframes innerFlame {
	0% {
		fill: orange;
	}
	33% {
		fill: yellow;
	}
	66% {
		fill: orange;
	}
	100% {
		fill: red;
	}
}
